* {
    margin: 1%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

html {
    scroll-behavior: smooth;
}

.div-3 {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Menu top*/

.div-1 {
    float: left;
    width: 100%;
    height: 10%;
    margin: 0%;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 0.5%;
}

.div-1-logo {
    width: 10%;
    float: left;
}

.div-1-logo img {
    width: 100%;
    height: 100%;
}

.div-1-input-busqueda {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    float: left;
}

.div-1-input-busqueda input {
    margin-top: 0.5%;
    padding-left: 7%;
}

.div-1-input-busqueda i {
    position: absolute;
    color: grey;
    opacity: 0.7;
}

.div-1-sesion {
    margin-left: 27%;
    width: 12%;
    float: left;
}

.div-1-sesion i {
    color: #35B8B2;
}

.btn {
    background-color: white;
    border-color: #d6dbdb;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    border-color: #b6bfc8;
}

.contenido {
    float: left;
}


/*Menu izquierda*/

.div-2 {
    float: left;
    width: 20%;
    margin: 1%;
    margin-top: 0.5%;
    font-size: 2.1vh;
}

.div-2-radio {
    margin: 2%;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 0.5%;
}

.div-2-radio input[type='radio'],
.div-2-orden input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    border-radius: 50%;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.div-2-radio input:checked,
.div-2-orden input:checked {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}

.div-2-radio input:hover,
.div-2-orden input:hover {
    border: 3px solid #35B8B2;
    transition: 0.3s;
}

.div-2-radio label,
.div-2-orden label,
.div-2-categoria label {
    width: 100%;
    cursor: pointer;
}

.div-2-radio input,
.div-2-orden input,
.div-2-categoria input {
    /*transform: scale(2);*/
    margin-right: 5px;
}

.div-2-orden {
    margin: 2%;
    float: left;
    width: 100%;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 0.5%;
}

.div-2-orden p,
.div-2-categoria p {
    font-weight: bold;
}

.div-2-categoria {
    margin: 2%;
    float: left;
    width: 100%;
}

.div-2-categoria input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    background-clip: content-box;
    border: 3px solid #b6bfc8;
    background-color: #e7e6e7;
    margin-bottom: -1%;
    transition: 0.3s;
    cursor: pointer;
}

.div-2-categoria input:checked {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}

.div-2-categoria input:hover {
    border: 3px solid #35B8B2;
    transition: 0.3s;
}


/*checkbox de los huevos*/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -22%;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 3px solid #b6bfc8;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    border: 3px solid #35B8B2;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #35B8B2;
    border: 3px solid #35B8B2;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Contenido derecha*/

.div-3 {
    float: left;
    width: 75%;
}

.div-3-restaurante {
    margin-left: 3%;
    width: 29%;
    height: 40%;
    float: left;
    cursor: pointer;
}

.div-3-restaurante-img {
    width: 100%;
    height: 60%;
}

.div-3-restaurante-img img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.div-3-restaurante-contenido {
    height: 40%;
    float: left;
    width: 100%;
    font-size: 2.3vh;
}

.div-3-restaurante-contenido p {
    float: left;
}

.div-3-restaurante-contenido h5 {
    font-weight: bold;
}

.div-3-restaurante-contenido i {
    float: left;
}

.val-grey {
    color: grey;
}

.val-blue {
    color: #007E8A;
}

.val-green {
    color: #77BF2A;
}

.tipo-grey {
    color: grey;
}


/*Registrarse*/

.registrarse {
    top: 15%;
    left: 30%;
    position: absolute;
    color: black;
    text-align: center;
}

.region-registrarse form.registrarse-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.region-registrarse {
    height: 100vh;
    width: 100%;
}

.region-registrarse>.registrarse {
    height: 100%;
}

.region-registrarse form.registrarse-form {
    background-color: white;
    width: 85vh;
    height: 70vh;
    border-radius: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.region-registrarse form.registrarse-form input {
    width: 100%;
}

form.registrarse-form label {
    font-weight: bold;
}

.region-registrarse form.registrarse-form input[type='submit'] {
    margin-top: 15%;
}

.resize {
    width: 0;
    height: 0;
}

.modalmask:target .resize {
    width: 63.59vh;
    height: 31.79vh;
}

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: -2.1%;
    right: -1%;
    bottom: -1%;
    left: -1%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.cerrar {
    color: white;
    font-size: 5vh;
    font-weight: bold;
    top: 17%;
    right: 30%;
    position: absolute;
    z-index: 1;
    background-color: #35B8B2;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 3px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.cerrar:hover {
    background-color: #2aada7;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-fix {
    background-color: #35B8B2;
    color: white;
}

.btn-fix:hover {
    background-color: #2aada7;
}