* {
    margin: 1%;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

html,
body {
    scroll-behavior: smooth;
}

.div-1 {
    float: left;
    width: 100%;
    height: 10%;
    margin: 0%;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 0.5%;
}

.div-1-logo {
    width: 10%;
    float: left;
}

.div-1-logo img {
    width: 100%;
    height: 100%;
}

.div-1-sesion {
    margin-left: 70%;
    width: 12%;
    float: left;
}

.div-1-sesion i {
    color: #35B8B2;
}

.bt-logout {
    background-color: white;
    border-color: #d6dbdb;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.bt-logout:hover {
    border-color: #b6bfc8;
}

.contenido {
    float: left;
    width: 100%;
    height: 10%;
    margin: 0%;
}

.div-2 {
    float: left;
    width: 40%;
}

.div-2-img {
    width: 100%;
}

.div-2-img img {
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

.div-3 {
    float: left;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.div-3 h1 {
    font-weight: bold;
}

.tipo-grey {
    color: rgb(77, 77, 77);
}

.div-3-tiempo-tipo {
    float: left;
    width: 100%;
}

.div-3-tiempo-tipo p {
    float: left;
}

.div-3-valoracion-envio i {
    float: left;
}

.div-3-valoracion-envio {
    float: left;
    width: 60%;
}

.div-3-valoracion-envio p {
    float: left;
}

.val-grey {
    color: grey;
}

.val-blue {
    color: #007E8A;
}

.val-green {
    color: #77BF2A;
}

.font-small {
    font-weight: bold;
}

.div-descripcion-galeria {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0%;
    border-top: 1px solid rgb(202, 202, 202);
}

.div-descripcion-galeria h4 {
    font-weight: bold;
}

.div-descripcion {
    float: left;
    width: 40%;
    margin: 1.5%;
    margin-right: 0%;
    text-align: justify;
}

.div-galeria {
    float: left;
    width: 50%;
    margin: 1.5%;
    margin-left: 2%;
}

.div-galeria-foto {
    width: 100%;
}

.div-galeria-foto {
    border-radius: 2%;
    width: 100%;
    height: 100%;
}

.btn-color {
    background-color: #FB5058;
    border: 1px solid #FB5058;
    transition: 0.3s;
}

.btn-color:hover {
    background-color: #f73a44;
    border: 1px solid #f73a44;
    transition: 0.3s;
}